{% extends 'layout.twig' %}

{% block title %}{{ language.l('e-projeggt-team1') }} | Projeggt{% endblock %}

{% block head %}
<script type='text/javascript' src='static/js/backstretch.js'></script>
<script type="text/javascript">
	$(document).ready(function() {                
		$("#banner-content").backstretch("//www.ucarecdn.com/87ef8aa2-65cf-4562-9411-a46943987c91/team.jpg");                
	});        
</script>
{% endblock %}

{% block content %}


<div id="projeggt-grid">

	<div id="banner-content"></div>
	
</div>

<div class="container" align="center">

<div id="wrapper" align="left">

{% include "menu-other.twig" %}

<div class="well" style="background:#fff">
	<h2 style="margin-top:-10px;">{% autoescape false %}{{ language.l('e-projeggt-team-all') }}{% endautoescape %}</h2>
	<hr style="margin-top:-10px;">
	
	<div id="text" style="margin-top:20px;">
		<p style="font-size:14px; line-height:19px; ">{{ language.l('e-we-are-a-team') }}</p> 
	</div>
	
		<div class="row" style="margin-top:30px;">
			
			{% for con in teamMembers %}	
			<div class="span3" style="padding-top:20px;margin-bottom:5px;{% if loop.index >= 1 %}margin-left:5px;{% endif %}" align="center">
				<a href="/profile/{{ con.url }}"><img src="{% if con.juntalia == 'y' %}http://www.juntalia.com{% endif %}/image/190/190/0/{{ con.avatar }}/" class="img-rounded" width="190" height="190" style="width:190px; height:190px;" /></a>
				<h3><b><a href="/profile/{{ con.url }}">{{ con.name }} {{ con.surname }}</a></b></h3>
				
				{% if con.id == 5 %}
					<h5 style="margin-top:-10px;"><b>Co-Founder & CEO</b></h5>
				{% elseif con.id == 295 %}
					<h5 style="margin-top:-10px;"><b>Co-Founder & CTO</b></h5>
				{% elseif con.id == 490 %}
					<h5 style="margin-top:-10px;"><b>Co-Founder & COO (GM Juntalia)</b></h5>
				{% elseif con.id == 1264 %}
					<h5 style="margin-top:-10px;"><b>{{ language.l('e-mariana-marin-title') }}</b></h5>
				{% elseif con.id == 2499 %}
					<h5 style="margin-top:-10px;"><b>{{ language.l('e-arnault-sablier-title') }}</b></h5>
				{% elseif con.id == 2109 %}
					<h5 style="margin-top:-10px;"><b>Music Advisor</b></h5>
				{% elseif con.id == 4066 %}
					<h5 style="margin-top:-10px;"><b>Marketing Advisor</b></h5>
				{% elseif con.id == 4112 %}
					<h5 style="margin-top:-10px;"><b>Founder WOW</b></h5>
				{% elseif con.id == 1283 %}
					<h5 style="margin-top:-10px;"><b>Evangelist at Projeggt</b></h5>
				{% elseif con.id == 2855 %}
					<h5 style="margin-top:-10px;"><b>Founder Kifund</b></h5>
				{% elseif con.id == 947 %}
					<h5 style="margin-top:-10px;"><b>Responsable de Tenerife</b></h5>				
				{% elseif con.id == 2740 %}
					<h5 style="margin-top:-10px;"><b>{% if language.slug == 'fra' %}Instigateur culturel{% else %}Instigador cultural{%endif%}</b></h5>
				{% elseif con.id == 3274 %}
					<h5 style="margin-top:-10px;"><b>Impulsor de talento</b></h5>
				{% endif %}
				
				
				<ul class="inline" style="margin-top:-5px;">
					
			        
			        {% if con.twitter %}
			        <li style="margin-left:0px;"><a href="{{ con.twitter }}" target="_blank"><img src="static/social/twitter.png" width="20" height="20"></a></li>
			        {% endif %}
			        
			        {% if con.facebook %}
					<li style="margin-left:-10px;"><a href="{{ con.facebook }}" target="_blank"><img src="static/social/facebook.png" width="20" height="20"></a></li>
					{% endif %}
					
			        {% if con.googleplus %}
			        <li style="margin-left:-10px;"><a href="{{ con.googleplus }}" target="_blank"><img src="static/social/googleplus.png" width="20" height="20"></a></li>
					{% endif %}
			
			        {% if con.linkedin %}
			        <li style="margin-left:-10px;"><a href="{{ con.linkedin }}" target="_blank"><img src="static/social/linkedin.png" width="20" height="20"></a></li>
					{% endif %}
					
				</ul>
				
			</div>
			{% else %}
			<div class="span3" style="padding-top:20px;margin-bottom:5px;">
				<p>Nothing</p>
			</div>
			{% endfor %}
			
			

			
			

					
		</div>
		
		
		
	<div class="clearfix"></div>
	
</div>
</div>
</div>

{% endblock %}